.wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    padding: 20px 0px;
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color:#F3F4EF;;
    a{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

@media screen and (max-width: 450px){
    .wrapper{
        padding: 20px 0px;
        a{
            img{
                width: 140px;
            }
        }
    }
}